body{
    font-size: 16px;
    color: #000000;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
/** Header **/
#header-nav {
    background-color: #979797;
    border-radius: 0;
    border: 0;
}
.navbar-brand {
  padding-top: 25px;
}
.navbar-brand:hover{
	color: white;
}
.navbar-brand h1 { /* restaurant name*/
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}
.navbar-toggle{
	border: 2px solid white;
	margin-right: 25px;
}
.icon-bar{
	background-color: white;
}
li{
	box-sizing: border-box;
	width: 100%;
}

.menu-item{
	padding: 0;
	margin: 0;
	width: 100%;
	background-color: white;
	border-bottom: 1px solid black;
	color: black;
	display: block;
}

.menu-item:hover{
	background-color: rgba(0,0,0,0.9);
	color: rgba(0,0,0,0.4);
}
#nav-list {
    margin-top: 10px;
  }
  #nav-list a {
    color: #000000;
    text-align: center;
  }
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
  }
/* END HEADER */

/*main contant start*/
.container-fluid{
	margin: 0;
	padding: 0;
}
#ourmenu {
  color: #000000;
  font-weight: bold;
  font-size: 1.7em;
}
.row {
  color: #000000;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
}
.content-box {
	margin: 20px;
	width: auto;
	height: auto;
	color: black;
	background-color: rgba(0,0,0,0.2);
	font-family: Arial, Helvetica, sans-serif;
	padding: 20px;
}

.item-name {
  text-align: center;
  font-size: 1.3em;
}







